@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&family=Rubik:ital,wght@1,300&display=swap');

.mainWrapper {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 197, 138, 0.306);
}

.titleH1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: palevioletred;
}

.linkToCatalog {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: palevioletred;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #202c2d;

    text-shadow: 3px 5px 2px #474747;
  }
}
