.swiper-pagination-bullet {
  background: #f4f4fc;
  opacity: 1 !important;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet-active {
  background: #7575e2;
  opacity: 1 !important;
  width: 16px;
  height: 16px;
}

.swiper-pagination {
  width: 100px !important;
  position: absolute !important;
  top: unset !important;
  left: unset !important;
  right: 100px !important;
  bottom: 10 !important;
}
