.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  opacity: 0.9 !important;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet-active {
  background: rgb(214, 124, 214);
  width: 16px;
  height: 16px;
}

.swiper-pagination {
  width: 100px !important;
  position: absolute !important;
  top: unset !important;
  left: unset !important;
  right: 100px !important;
  bottom: 10 !important;
}
